section.filters {
  color: #FFFFFF;
  height: 70px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #DDDDDD
}

.filters .locations, .filters .amenities {
  height: 100%;
  width: 25%;
  margin-left: 30px;
  display: inline-block;
}

.filters .locations {
  border-right: 1px solid #DDDDDD;
}

.filters h3 {
  font-weight: 600;
  line-height: 2;
  margin-top: 5px;
}

.filters h4 {
  font-weight: 400;
  font-size: 14px;
}
